@font-face {
    font-family: 'Overpass';
    src: url('Overpass-Light.eot');
    src: local('Overpass Light'), local('Overpass-Light'),
        url('Overpass-Light.eot?#iefix') format('embedded-opentype'),
        url('Overpass-Light.woff2') format('woff2'),
        url('Overpass-Light.woff') format('woff'),
        url('Overpass-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: url('Overpass-BlackItalic.eot');
    src: local('Overpass Black Italic'), local('Overpass-BlackItalic'),
        url('Overpass-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Overpass-BlackItalic.woff2') format('woff2'),
        url('Overpass-BlackItalic.woff') format('woff'),
        url('Overpass-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Overpass';
    src: url('Overpass-Italic.eot');
    src: local('Overpass Italic'), local('Overpass-Italic'),
        url('Overpass-Italic.eot?#iefix') format('embedded-opentype'),
        url('Overpass-Italic.woff2') format('woff2'),
        url('Overpass-Italic.woff') format('woff'),
        url('Overpass-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Overpass';
    src: url('Overpass-LightItalic.eot');
    src: local('Overpass Light Italic'), local('Overpass-LightItalic'),
        url('Overpass-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Overpass-LightItalic.woff2') format('woff2'),
        url('Overpass-LightItalic.woff') format('woff'),
        url('Overpass-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Overpass';
    src: url('Overpass-BoldItalic.eot');
    src: local('Overpass Bold Italic'), local('Overpass-BoldItalic'),
        url('Overpass-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Overpass-BoldItalic.woff2') format('woff2'),
        url('Overpass-BoldItalic.woff') format('woff'),
        url('Overpass-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Overpass';
    src: url('Overpass-Regular.eot');
    src: local('Overpass Regular'), local('Overpass-Regular'),
        url('Overpass-Regular.eot?#iefix') format('embedded-opentype'),
        url('Overpass-Regular.woff2') format('woff2'),
        url('Overpass-Regular.woff') format('woff'),
        url('Overpass-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: url('Overpass-ExtraLightItalic.eot');
    src: local('Overpass ExtraLight Italic'), local('Overpass-ExtraLightItalic'),
        url('Overpass-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Overpass-ExtraLightItalic.woff2') format('woff2'),
        url('Overpass-ExtraLightItalic.woff') format('woff'),
        url('Overpass-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Overpass';
    src: url('Overpass-Bold.eot');
    src: local('Overpass Bold'), local('Overpass-Bold'),
        url('Overpass-Bold.eot?#iefix') format('embedded-opentype'),
        url('Overpass-Bold.woff2') format('woff2'),
        url('Overpass-Bold.woff') format('woff'),
        url('Overpass-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: url('Overpass-SemiBoldItalic.eot');
    src: local('Overpass SemiBold Italic'), local('Overpass-SemiBoldItalic'),
        url('Overpass-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Overpass-SemiBoldItalic.woff2') format('woff2'),
        url('Overpass-SemiBoldItalic.woff') format('woff'),
        url('Overpass-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Overpass';
    src: url('Overpass-ExtraBoldItalic.eot');
    src: local('Overpass ExtraBold Italic'), local('Overpass-ExtraBoldItalic'),
        url('Overpass-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Overpass-ExtraBoldItalic.woff2') format('woff2'),
        url('Overpass-ExtraBoldItalic.woff') format('woff'),
        url('Overpass-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Overpass';
    src: url('Overpass-ExtraBold.eot');
    src: local('Overpass ExtraBold'), local('Overpass-ExtraBold'),
        url('Overpass-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Overpass-ExtraBold.woff2') format('woff2'),
        url('Overpass-ExtraBold.woff') format('woff'),
        url('Overpass-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: url('Overpass-Thin.eot');
    src: local('Overpass Thin'), local('Overpass-Thin'),
        url('Overpass-Thin.eot?#iefix') format('embedded-opentype'),
        url('Overpass-Thin.woff2') format('woff2'),
        url('Overpass-Thin.woff') format('woff'),
        url('Overpass-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: url('Overpass-Black.eot');
    src: local('Overpass Black'), local('Overpass-Black'),
        url('Overpass-Black.eot?#iefix') format('embedded-opentype'),
        url('Overpass-Black.woff2') format('woff2'),
        url('Overpass-Black.woff') format('woff'),
        url('Overpass-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: url('Overpass-ExtraLight.eot');
    src: local('Overpass ExtraLight'), local('Overpass-ExtraLight'),
        url('Overpass-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Overpass-ExtraLight.woff2') format('woff2'),
        url('Overpass-ExtraLight.woff') format('woff'),
        url('Overpass-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Overpass';
    src: url('Overpass-ThinItalic.eot');
    src: local('Overpass Thin Italic'), local('Overpass-ThinItalic'),
        url('Overpass-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Overpass-ThinItalic.woff2') format('woff2'),
        url('Overpass-ThinItalic.woff') format('woff'),
        url('Overpass-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Overpass';
    src: url('Overpass-SemiBold.eot');
    src: local('Overpass SemiBold'), local('Overpass-SemiBold'),
        url('Overpass-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Overpass-SemiBold.woff2') format('woff2'),
        url('Overpass-SemiBold.woff') format('woff'),
        url('Overpass-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

